<meta name="viewport" content="width=device-width, initial-scale=1" >
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="">
<app-nav-var></app-nav-var>
<section>
  <div class="containerr">
      <i class="fas fa-tablet-alt" id="fas"></i> <h1 class="h1" id="fas">\</h1>  <i class="fas fa-mug-hot"id="fas"></i>
  </div>

  
  <div class="containerrr" id="conte">
      <i class="fas fa-slash fass"></i>
    <i class="fas fa-thumbs-up us fass"></i>
    <h1 class="h1" id="fass">/</h1>
  </div>
  <i class="fal fa-expand-alt"></i>
  <h2 class="text">Todo Listo! <br> Te llevaremos automáticamente a la pagina principal <br> Con tu sesión iniciada.</h2>
</section>