<div class="row2">
  <div class="col-sm-">
          <section class="section">
                  <div class="perfil">
                          <img class="perfilImage" src="https://3.bp.blogspot.com/-UzKCdjJQUF0/XGH57HTij_I/AAAAAAAAADs/8IsUnF4IPy46s98ciHlgqYpfz_XhauSGgCLcBGAs/s320/UserProfileGray.fw.jpg" />
                          <p class="name"><strong>Name Surname</strong></p>
                  </div>
                  <div class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <strong class="incididunt">#incididunt</strong>  ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                  <img class="ibm"  src="https://2.bp.blogspot.com/-cF7Cm2K0Ep8/XGHxeqhgXhI/AAAAAAAAADg/44AYL2hWLBst_4mY2beHtI7hce6JjjOaACLcBGAs/s320/IBM.jpg" />
                  <div class="Notification">
                      <h3 class="notification"> <strong>Notificaciones</strong> </h3>
                      <div class="message">
                              Hola user, te invito a mi <br> emprendimiento llamado fireKoalas.
                      </div>
                          <div class="masNotification">
                               <h3 class="notification">mas notificaciones <a href=""> <i class="fas fa-plus"></i></a></h3>     
                          </div>
                  </div>
              </section>
              
  </div>
  <!--
          
  -->
<div class="col-">
        <div class="form">
                <div class="btn">
                        <button class="Create" type="submit">Creacion de evento</button>
                </div>
                <div class="organizador">
                        <h4 style="text-align:center;">Organizador</h4>
                </div>
                <div class="description">

                        <input class="input" type="text" placeholder="Required Field">
                </div>
                <div class="description">
                        <input class="input" type="text" placeholder="Required Field">
                </div>
                <div class="description">
                        <input class="input" type="text" placeholder="Required Field">
                </div>
                <div class="description">
                        <input class="input" type="text" placeholder="Required Field">
                </div>
        </div>
        <div class="active" style="float:right;">
                Activar redes sociales? 
                <a class="encendido" href="#"><button class="on">on</button><i class="fas fa-circle" id="circle"></i> <button class="on">of</button></a>
                <div class="Capacidad" >
                        Capacidad
                </div>
                        <div class="redesSociales">
                                <input class="input coment" type="text" placeholder="Require Field">
                        </div>
                
        </div>
        
        <div class="col-sm-6">

                <div class="col-sm">
                        <h2>Algunos Tags</h2>
                        <div class="row-1">
                                <button class="btn-row"> <a href="#">web</a></button>
                                <button class="btn-row"><a href="">Ilustration</a> </button>
                                <button class="btn-row"><a href="">graphics</a> </button>
                                <button class="btn-row"><a href="">ui</a> </button>

                        </div>
                </div>
                <!--Fin de tag-->
                <div class="tag2">
                        <div class="row-2">
                                <button class="btn-row"> <a href="#">design</a></button>
                                <button class="btn-row"><a href="">app</a> </button>
                                <button class="btn-row"><a href="">iphone</a> </button>
                                <button class="btn-row"><a href="">interface</a> </button>
                        </div>
                </div>
                <div class="tag3">
                        <div class="row-3">
                                <button class="btn-row"> <a href="#">icon</a></button>
                                <button class="btn-row"><a href="">web desingn</a> </button>

                        </div>

                </div>

        </div>
        <button class="ok" type="submit">ok</button>
</div>