.perfilImage {
    width: 5%;
    height: 5%;
    border-radius: 40px;
    margin-left: 3%;
    margin-top: 12%;
}

.name {
    display: inline;
    color: #2699FB;
    font-size: 90%;
    margin-left: 3%;
    /*  margin-top: 40%;*/
}

.text {
    width: 55%;
    color: #cccccc;
    margin-left: 3%;
    margin-top: 3%;
}

.ibm {
    margin-left: 5%;
    width: 45%;
    height: 132px;
    margin-top: -3%;
}

.incididunt .fas {
    color: #000000;
}

.notification {
    font-size: 80%;
    color: #38A1F3;
    margin-left: 5%;
    margin-top: 7%;
}

.masNotification {
    margin-left: 10%;
    display: inline;
}

.message {
    width: 70%;
    color: #000000;
    font-size: 10px;
    margin-left: 15%;
}

.notification2 {
    font-size: 80%;
    color: #38A1F3;
    margin-left: 25%;
    margin-top: -3%;
}

.col-sm-7 {
    /*  margin-top: 2%;
    border: 3px solid #000000;*/
    margin-left: -9.8%;
    width: 50%;
    background: #ffffff;
    border: 2px solid #cccccc;
    margin-top: 2%;
}

.input {
    width: 90%;
    height: 40px;
}

::placeholder {
    color: #000000;
    font-size: 20px;
}

.description {
    margin-bottom: 2%;
}

.organizador {
    width: 20%;
    height: 50px;
    text-align: center;
    background-color: #2699FB;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
    margin: 0;
    /*
    text-align: center;
    background: #38A1F3;
    width: 15%;
    height: 50px;
    */
}

.btn {
    width: 100%;
}

.Create {
    width: 50%;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #2699FB;
    color: #000000;
    background: #ffffff;
}

.btn-row {
    margin: 5px;
    background: #BCE0FD;
    border: 1px solid #BCE0FD;
    border-radius: 5px;
}

.col-sm-12 {
    background: #000000;
}

#circle {
    font-size: 20px;
    color: #ffffff;
}

.active {
    width: 50%;
    height: 100px;
}

.encendido {
    background: #2699FB;
    border-radius: 10px;
    height: 100px;
}

.Capacidad {
    width: 40%;
    height: 50px;
    text-align: center;
    background-color: #2699FB;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
    margin: 0;
    float: right;
    margin-right: 20%;
}

.coment {
    width: 70%;
    float: right;
    margin-right: 20%;
}

.on {
    background: none;
    border: 0;
}

.ok {
    width: 20%;
    color: #ffffff;
    font-size: 20px;
    background: #45DE54;
    border-radius: 20px;
    border: 0;
    margin-left: 40%;
}