<meta name="viewport" content="width=device-width, initial-scale=1" >
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="">

 <app-nav-var></app-nav-var>


    <header class="texto">
        <div class="overlay">
        <aside class="circle">
                   <a href="#"><i class="fas fa-circle"></i></a>
                  <a href="#"><i class="far fa-circle"></i></a>
                  <a href="#"><i class="far fa-circle"></i></a>
                  <a href="#"><i class="far fa-circle"></i></a>
                </aside>
            <section class="text">
              
                <section id="Hheder">
                  <p>Hero Header</p>
                  <p id="text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                <a href="">
                    <button ng-click="expression" class="Singin">Sing in</button>
                </a>
                  
                </section>
                
                  
        
            </section> 
           </div>
          
        </header> 
     
  <router-outlet></router-outlet>
<!--
<app-footer></app-footer>
<app-codigo-confirmacion></app-codigo-confirmacion>
 <app-finalizacion-reg></app-finalizacion-reg>
<app-introduce-cod-confirmacion></app-introduce-cod-confirmacion>


<app-socialmedia-registration></app-socialmedia-registration>
<app-complete-perfil-write></app-complete-perfil-write>
<app-registro-usuarios></app-registro-usuarios>
<app-registro-usuarios></app-registro-usuarios>
<app-completar-perfil></app-completar-perfil>
-->






