<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3" id="col2">
        <div class="controller"><a href="#"><i class="fas fa-circle"></i></a> </div>
        <div class="controller"><a href="#"><i class="fas fa-circle"></i></a> </div>
        <div class="controller"><a href="#"><i class="fas fa-circle"></i></a> </div>
        <div class="controller"><a href="#"><i class="fas fa-circle"></i></a> </div>
      </div>

      <div class="col-sm-9" id="col2">
        <div class="text">
          <h2 class="title">Expresa lo increible</h2>
          <div class="description">
            Eventos creados para ti, sobre lo mejor en el mundo digital y tecnologia
          </div>
          <div class="boton">
            <button class="sign" type="submit">Sign up</button>
          </div>
        </div>
      </div>
    </div>
    
      
  </div>

</div>

<div class="row ">


<div class="col-sm-6 ImageFont">
    <div class="row">
        
      <div class="col-sm-1"></div>
     
          <img class="image" src="https://2.bp.blogspot.com/-7KnkLgZWUWI/XGYVqPfx_zI/AAAAAAAAAGM/8Oukt_XS-60YWRyKPYAqDQecwPzS7X83wCLcBGAs/s640/annie-spratt-608001-unsplash.jpg"/>      
         <img class="imagend" src="https://4.bp.blogspot.com/-tNG8I3U3HFY/XGZemnptoZI/AAAAAAAAAGY/1z5dx6vVRzkNDjKTVi-BVSE1pOeU-GdqwCLcBGAs/s640/mimi-thian-737017-unsplash.jpg"/>
    </div><!--Fin de row-->
   
  </div><!--fin de col-sm-6-->
  <div class="col-sm-6">
      <h1 class="check">Check What people <br> is building

        </h1>
  <div class="contenido">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque eopsloi laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunot explicabo. Nemo ernim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sedopk quia consequuntur magni dolores eos qui rationesopl voluptatem sequi nesciunt. Neque porro quisquameo est, qui dolorem ipsum quia dolor sit amet, eopsmiep consectetur, adipisci velit, seisud quia non numquam eius modi tempora incidunt ut labore et dolore wopeir magnam aliquam quaerat voluptatem eoplmuriquisqu.

  </div>
  <div >
    <button class="emprender"> <strong>Emprender</strong> </button>
  </div> 
</div>
</div>

