<meta name="viewport" content="width=device-width, initial-scale=1" >
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="">
<app-nav-var></app-nav-var>
<section>
  <div class="containerr">
   <h1>¡Gracias!</h1>
   <p><img src="https://1.bp.blogspot.com/-RiWK07AkrFk/XDjr8C3l4II/AAAAAAAAAB0/Yvl1ij8rKZ8wwmvNiMKBSb78ABvwttI1QCLcBGAs/s320/avion-de-papel.png"/></p>
   <h2>Estamos casi listos pero primero...</h2>
   <h2>Hemos enviado un código de confirmación a tu correo</h2>
  <h2 class="h2"><a href="#">Click aquí para confirmar correo</a> </h2>
 </div>
</section>
<app-footer></app-footer>