<meta name="viewport" content="width=device-width, initial-scale=1" >

<section class="body">
  <div id="contenedor">
    <h4 class="tag-CpP"><strong>Completar perfil</strong> </h4>
     <hr style="color:#000; background-color: #000; width:75%; margin: 0 auto;" />
     <section class="edit">
         <article>
            <figure> <!--<img src="https://2.bp.blogspot.com/-UoEU4j4nhVE/XEkPeY1iPSI/AAAAAAAAACg/44zLqxPR9kEhQpf2B3qXQvqAJ59eD6_dQCLcBGAs/s320/yami.jpeg" />-->
              <img class="image" src="https://3.bp.blogspot.com/-_TzEVIeQp04/XDALPzpeivI/AAAAAAAAABc/iyRaD7MAbkkkPzk0o6O5v60tZKuDcEAKQCLcBGAs/s1600/usuario.jpg" />
           <p id="name"><strong>{{ name }} </strong></p>
           <p id="user"> {{ other }} </p> 
           <p  class="ww"> {{ text }}</p>
           </figure>
             <i ngClass="fas fa-birthday-cake fecha" id="i"></i><p class="fecha" id="date">21/Diciembre/2001</p><br>
             <i ngClass="fas fa-envelope fecha" id="i" > </i> <p class="fecha" id="date">IsabellaJohns@gmail.com</p> <br>
             <i ngClass="fas fa-globe fecha" id="i"></i> <p class="fecha" id="date"><input class="date" type="text" placeholder="website"></p> <br>
             <button class="btn-edit">Editar</button> 
         </article>
      </section>
      
      
      
      <aside>
        <h2 class="CatsDogss" id="catsDogs">Lugar de Trabajo:</h2>
        <input type="text" class="CatsDogs" id="catsDogs" placeholder="Cats&Dogs"><br>
         
            <h2 class="mentores" id="Range">Rango:</h2>
                  <select name="Mentores" ngClass="mentores" id="mentores">
                 <option class="person" value="1">Mentores</option> 
                 <option value="2">Marco Hernandez</option> 
                 <option class="person" value="3">Ivan Nuñes</option>
                 <option value="10">Leonardo Fajardo</option> 
                 <option class="person" value="11">Cuatro</option> 
                 <option value="12">Cinco</option> 
              </select> <br>
              <div class="botones">
                <button class="cancel" id="conclution">Cancel</button>
             <button class="Aceptar" id="conclution">Aceptar</button>
              </div>
             
        
        
      </aside>
  </div>  
</section> 
