<!--<div class="row">
  <div class="col-sm-2">
    <section class="section">
      <div class="perfil">
        <img class="perfilImage" src="https://3.bp.blogspot.com/-UzKCdjJQUF0/XGH57HTij_I/AAAAAAAAADs/8IsUnF4IPy46s98ciHlgqYpfz_XhauSGgCLcBGAs/s320/UserProfileGray.fw.jpg" />
        <p class="name"><strong>Name Surname</strong></p>
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <strong class="incididunt">#incididunt</strong>
          ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris
          nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <img class="ibm" src="https://2.bp.blogspot.com/-cF7Cm2K0Ep8/XGHxeqhgXhI/AAAAAAAAADg/44AYL2hWLBst_4mY2beHtI7hce6JjjOaACLcBGAs/s320/IBM.jpg" />
      <div class="Notification">
        <h3 class="notification"> <strong>Notificaciones</strong> </h3>
        <div class="message">
          Hola user, te invito a mi <br> emprendimiento llamado fireKoalas.
        </div>
        <div class="masNotification">
          <h3 class="notification">mas notificaciones <a href=""> <i class="fas fa-plus"></i></a></h3>
        </div>
      </div>
    </section>



  </div>

             

 </div>
  <div class="col-sm10">
                <div class="">
                  <button class="creacion">creacion de evento</button>
                </div>
              </div> -->
<div class="row">
  <div class="col-sm-2">
      <div class="section">
          <div class="perfil">
            <img class="perfilImage" src="https://3.bp.blogspot.com/-UzKCdjJQUF0/XGH57HTij_I/AAAAAAAAADs/8IsUnF4IPy46s98ciHlgqYpfz_XhauSGgCLcBGAs/s320/UserProfileGray.fw.jpg" />
            <p class="name"><strong>Name Surname</strong></p>
          </div>
          <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <strong class="incididunt">#incididunt</strong>
              ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris
              nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <img class="ibm" src="https://2.bp.blogspot.com/-cF7Cm2K0Ep8/XGHxeqhgXhI/AAAAAAAAADg/44AYL2hWLBst_4mY2beHtI7hce6JjjOaACLcBGAs/s320/IBM.jpg" />
          <div class="Notification">
            <h3 class="notification"> <strong>Notificaciones</strong> </h3>
            <div class="message">
              Hola user, te invito a mi <br> emprendimiento llamado fireKoalas.
            </div>
            <div class="masNotification">
              <h3 class="notification">mas notificaciones <a href=""> <i class="fas fa-plus"></i></a></h3>
            </div>
          </div>
        </div>
  </div>
  <div class="col-sm-10">
    <div>
      <div class="ss">
        <div><button class="boton">Creacion de evento</button></div>
         <div class="event">
        IMAGEN DEL EVENTO
      </div>
      <div class="imagen">
        <div class="agregar"><a href="#">AGREGA UNA IMAGEN ACERCA DE LA IMAGEN</a></div>
      </div>
      <div class="clas">

          <img class="font" src="https://2.bp.blogspot.com/-5y03fY92DA8/XGnpt-tFG-I/AAAAAAAAAIw/u7UH6lOrajEKqo689Sz3puVYpWhXKcNrwCLcBGAs/s320/sin-foto-514.jpg"/>
      </div>
      <div><button class="next">--></button></div>
      </div>
     
    </div>
      
    
  </div>
</div>