<app-nav-var></app-nav-var>


    <section class="containerr">
        <h1 class="btn-group-vertical">Iniciar Sesión</h1>
         <input id="btn-group-vertical" type="text" placeholder="Correo Electronico">
         <input id="btn-group-vertical" type="text" placeholder="Contraseña">
         <a [ngClass]="'btn-group-vertical IniciarSesion'" href="">Iniciar Sesión</a>
         <p class="btn-group-vertical">o</p>
         <a [ngClass]="'btn-group-vertical Facebook'" href=""><img height="20" src="https://1.bp.blogspot.com/-j8NHMz2f0qo/XEJkdFwxSNI/AAAAAAAAACI/EL5gHKjsvoc6NDnyJw5Fag8cin-ICYqvQCLcBGAs/s320/facebook-f-logo-white-background-21.jpg" width="20" /> Facebook</a>
         <a [ngClass]="'btn-group-vertical Google'" href=""><img height="20" src="https://3.bp.blogspot.com/-45nPZMupeM8/XEJjtZyNrPI/AAAAAAAAACA/uqzlb8lKCKgGIKj13MP1O3RH78fZSF-qwCLcBGAs/s200/descarga.png" width="20" /> Google</a>
         <a [ngClass]="'btn-group-vertical Twitter'" href=""><img height="20" src="https://4.bp.blogspot.com/-fXKYgodnM18/XEJlqvMdPEI/AAAAAAAAACU/grwmaKGD2DEdnhoG4hOyBCAPkf5UAJoYACLcBGAs/s320/twitter-icon-logo-100644740-large.jpg" width="20" />
            Twitter</a>
    </section>

 <app-footer></app-footer> 

