<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous">
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 text-center">
<div class="footer-copyright text-center py-3">
    <!--Instagram-->
    <a href="#" class="ins-ic">
      <i class="fab fa-instagram fa-lg text-color mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!-- Twitter -->
    <a href="#" class="tw-ic">
      <i class="fab fa-twitter fa-lg text-color mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!-- Facebook -->
    <a href="#" class="fb-ic">
      <i class="fab fa-facebook-f fa-lg text-color mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a href="#" class="fb-ic">
      <i class="fas fa-globe-europe  fa-lg text-color mr-md-5 mr-3 fa-2x"></i>
    </a>©
  </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  
  <!-- Copyright -->

</footer>
<!-- Footer -->
