
<meta name="viewport" content="width=device-width, initial-scale=1" >
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="">
<app-nav-var></app-nav-var>
<div class="contenedor">
  <div class="seccion1">
    <img src="https://1.bp.blogspot.com/-No0KPHIX6Rw/XEuP9pYSCFI/AAAAAAAAAC4/AM_-YoMpRdQhjwc4eAua9pbrLgu5F6_dACLcBGAs/s320/fotoGeneral.jpg" />
  </div>
  <div class="seccion2">
      <div class="tituloPrincipal">
          <h1> ¡Únete a Tomato Valley!</h1>
      </div>
      <div class="nombreCompletoUsuario">
          <input class="input" type="text" placeholder="   Nombre" id="nombre">
          <input class="input" type="text" placeholder="   Apellido" id="apellido">
      </div>
      <div class="Usuario">
          <input class="input" type="text" placeholder="   Usuario" id="usuario">
      </div>
      <div class="correoElectronicoUsuario">
          <input class="input" type="text" placeholder="   Correo electronico" id="correoElectronico">
          <input class="input" type="text" placeholder="   Contraseña" id="contrasena">
      </div>
      <div class="lbl-fechaNacUsuario">
          <h6>Fecha de nacimiento</h6>
      </div>
      <div class="fechaNacUsuario">
          <input class="input" type="text" placeholder="  Dia" id="diaNacUsuario">
          <input class="input" type="text" placeholder="  Mes" id="mesNacUsuario">
          <input class="input" type="text" placeholder="  Aoo" id="aooNacUsuario">
      </div>
      <div class="sexoUsuario">
          <form action="">
              <input type="radio">Hombre
              <input type="radio">Mujer
          </form>
      </div>
      <div class="condicionesUsuario">
          <p>Al hacer clic en "Registrarte", aceptas nuestras Condiciones, la Política de datos y la Política de cookies. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.</p>
      </div>
      <div class="btn-Registrar">
          <button>Registrarse</button>
      </div>
      <div class="iconos">
          <span>________________________________</span>
          <span>   </span>
          <span>&deg;</span>
          <span>   </span>
          <span>________________________________</span>
      </div>
      <div class="btns-apps">
          <button id="btn-facebook"><i class="fab fa-facebook"></i>Facebook</button>
          <button id="btn-google"><i class="fab fa-google"></i>Google</button>
          <button id="btn-twitter"><i class="fab fa-twitter"></i>Twitter</button>
      </div>
  </div>
</div>
<app-footer></app-footer>