<div class="container" id="profile">
  <div class="row mt-5">
    <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
      </div>
        <div class="row user-details">
          <div class="col-12">
            <h5>{{user.name}}</h5>
            <p>
              {{user.email}}
              <br>
              {{user.user_name}}
            </p>
            <button class="btn btn-primary" (click)= "onPreUpdateUser(user)" data-toggle="modal" data-target="#modalUser">Editar perfil</button>
            <div class="form-group login-user " data-toggle="modal" data-target="#modalUser">
                <a routerLink="/user/update" class="form-control login-user" (click)="onPreUpdateUser(user)">Editar perfil</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>