<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
<script src="//connect.facebook.net/en_US/sdk.js"></script>
<script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
<section id="login" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (ngSubmit)="onLogin()">
                <h1 class="h3 mb3 font-weight-normal">Iniciar Sesion</h1>
                <div class="form-group">
                  <input type="email" id="email" name="email" class="form-control" [(ngModel)]="user.email" placeholder="Correo electronico" required>
                </div>
                <div class="form-group">
                  <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.password" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-large btn-color-green btn-block text-color">
                  Iniciar Sesion
                </button>
                <div class="form-group">
                  o
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-fb btn-fb-color text-color" (click)="socialSignIn('facebook')"><i class="fab fa-facebook-f pr-1"></i>
                      Facebook</button>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-block btn-gplus btn-g-color text-color" (click)="socialSignIn('google')"><i class="fab fa-google-plus-g"></i>
                      Google</button>
                  </div>
                  <div class="form-group">
                    <button id="twitter-button" type="button" class="btn btn-block btn-tw btn-twt-color text-color" (click)="onLoginTwitter()" ><i class="fab fa-twitter pr-1"></i>
                      Twitter</button>
                  </div>  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $('#twitter-button').on('click', function() {
  // Initialize with your OAuth.io app public key
  OAuth.initialize('8bBYE82Bjj7tlFsgN4f7NNlwAOA');
  // Use popup for OAuth
  OAuth.popup('twitter').then(twitter => {
    console.log('twitter:', twitter);
    // Prompts 'welcome' message with User's email on successful login
    // #me() is a convenient method to retrieve user data without requiring you
    // to know which OAuth provider url to call
    twitter.me().then(data => {
      console.log('data:', data);
      alert('Twitter says your email is:' + data.email + ".\nView browser 'Console Log' for more details");
    });
    // Retrieves user data from OAuth provider by using #get() and
    // OAuth provider url    
    twitter.get('/1.1/account/verify_credentials.json?include_email=true').then(data => {
      console.log('self data:', data);
    })    
  });
})
</script>
