h1 {
    text-align: center;
    width: 100%;
    margin-top: 10%;
}
.body{
    margin: 0 auto;
    margin-bottom: 180px;
}

.navbar-form{
    border-color: #000000;
}
#btn{
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-top: 10px;
    border-radius: 4px;
}
.btn{
   background: #45DE54;
    border-radius: 4px;
    color: #ffffff;
    width: 50%;
} 
@media screen and (max-width:1000px){
    h1{
        font-size: 20px;
    }
    #btn{
        width: 30%;
    }
    
}