<meta name="viewport" content="width=device-width, initial-scale=1" >
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="">
<app-nav-var></app-nav-var>

<div id="contenedor">
  <h4 class="tag-CpP"><strong>Completar perfil</strong> </h4>
   <hr style="color:#000; background-color: #000; width:75%; margin: 0 auto;" />
   <section class="edit">
       <article>
          <figure> <img class="image" src="https://3.bp.blogspot.com/-_TzEVIeQp04/XDALPzpeivI/AAAAAAAAABc/iyRaD7MAbkkkPzk0o6O5v60tZKuDcEAKQCLcBGAs/s1600/usuario.jpg" />
         <p id="name"><strong>Isabella Jonsh </strong></p>
         <p id="user">@BellaTech</p> 
         <p  class="ww"> Hi, i develop tech and work remotely <br> from USA for a Mexican TI company<br>just´cuz they have burritos.</p>
         </figure>
           <i ngClass="fas fa-birthday-cake fecha" id="i"></i><p class="fecha" id="date">21/Diciembre/2001</p><br>
           <i ngClass="fas fa-envelope fecha" id="i" > </i> <p class="fecha" id="date">IsabellaJohns@gmail.com</p> <br>
           <i ngClass="fas fa-globe fecha" id="i"></i> <p class="fecha" id="date"><input class="date" type="text" placeholder="website"></p> <br>
           <button class="btn-edit">Editar</button> 
       </article>
    </section>
    
    
    
    <aside>
      <h2 class="CatsDogss" id="catsDogs">Lugar de Trabajo:</h2>
      <input type="text" class="CatsDogs" id="catsDogs" placeholder="Cats&Dogs"><br>
       
          <h2 class="mentores" id="Range">Rango:</h2>
                <select name="Mentores" ngClass="mentores" id="mentores">
               <option value="1">Mentores</option> 
               <option value="2">Marco Hernandez</option> 
               <option value="3">Ivan Nuñes</option>
               <option value="10">Leonardo Fajardo</option> 
               <option value="11">Cuatro</option> 
               <option value="12">Cinco</option> 
            </select> <br>
            <div class="botones">
              <button class="cancel" id="conclution">Cancel</button>
           <button class="Aceptar" id="conclution">Aceptar</button>
            </div>
           
      
      
    </aside>
  
    
</div>    <app-footer></app-footer>