<app-navbar></app-navbar>
<script src="//connect.facebook.net/en_US/sdk.js"></script>
<div class="container2">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2100491900262029',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.2'
    });
      
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
  });

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
</script>