<div class="row line">

  <div class="col-sm-6 imagenn">
    <div class="imagen">
      <img class="imagend" src="https://4.bp.blogspot.com/-tNG8I3U3HFY/XGZemnptoZI/AAAAAAAAAGY/1z5dx6vVRzkNDjKTVi-BVSE1pOeU-GdqwCLcBGAs/s640/mimi-thian-737017-unsplash.jpg" />
    </div>

  </div>
  <!--Fin de col-sm6 -->
  <div class="col-sm-6">
    <div class="tema">
      <div>
        <h1>TORTILLAS A BASE DE NOPAL</h1>
      </div>

    </div>
    <div class="text">
      <div class="texto">
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio
        laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque eopsloi
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunot explicabo. Nemo ernim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sedopk quia
        consequuntur magni dolores eos qui rationesopl voluptatem sequi nesciunt. Neque porro quisquameo est, qui
        dolorem ipsum quia dolor sit amet, eopsmiep consectetur, adipisci velit, seisud quia non numquam eius modi
        tempora incidunt ut labore et dolore wopeir magnam aliquam quaerat voluptatem eoplmuriquisqu.
      </div>
      <div class="date">

      </div>
    </div>
  </div>
</div>
<!--Fin de line y row-->


<div class="row">
  <div class="col-sm-12">
    <div class="comentario">
      <h1>Comentarios</h1>
    </div>
    <div class="photo">
      <img class="usuario" src="https://2.bp.blogspot.com/-7KnkLgZWUWI/XGYVqPfx_zI/AAAAAAAAAGM/8Oukt_XS-60YWRyKPYAqDQecwPzS7X83wCLcBGAs/s640/annie-spratt-608001-unsplash.jpg" />
      <div class="name">la britanny</div>
      <div class="description">
        Pinches tortillas malas
        <div class="date-time">
          <div class="hour">5:00.PM</div>
          <div class="date">05/feb/2019</div>

        </div>
      </div>  

    </div>


  </div>
</div>
<!--Fin de row-->
<div class="row">
  <div class="col-sm-12">
    <div>
      <div><textarea class="textarea" name="comentar" id="" cols="30" rows="10" placeholder="Comentar..."></textarea>
      </div>
    </div>
    <button class="comentt" type="submit">comentar</button>
  </div>
</div>