<!---->
<form #formComment="ngForm" (ngSubmit)="onPostComment()">
  <div>
    <div class="row line">

      <div class="col-sm-6 imagenn">
        <div class="imagen">
          <img class="imagend" src="{{emp.image}}" />
        </div>

      </div>
      <!--Fin de col-sm6 -->
      <div class="col-sm-6">
        <div class="tema">
          <div>
            <h1>{{ emp.name }}</h1>
          </div>

        </div>
        <div class="text">
          <div class="texto">
            {{ emp.description }}
          </div>
          <div class="date">

          </div>
        </div>
      </div>
    </div>
    <!--Fin de line y row-->


    <div class="row">
      <div class="col-sm-12">
        <div class="comentario">
          <h1>Comentarios</h1>
        </div>
        <div class="photo">

          <div class="description">
            {{ emp.comments }}
            <div class="date-time">
              {{ emp.create_date }}
              <div class="hour"></div>
              <div class="date"></div>

            </div>
          </div>

        </div>
      </div> 
    </div>
    <div class="row">
      
        <input type="hidden" name="user_name" id="user_name" [(ngModel)]="this.dataApi.selectedUser.user_name" [ngModelOptions]="{standalone: true}">
        <!--<input type="text" name="comment" id="comment" [(ngModel)]="emp.comment" [ngModelOptions]="{standalone: true}">-->        
        <input type="hidden" name="comment_user" id="comment_user" [(ngModel)]="emp.name" [ngModelOptions]="{standalone: true}">
    </div>
    <!--Fin de row-->
    <div class="row">
      <div class="col-sm-12">
        <div>
          <div><textarea class="textarea" name="comment" id="comment" cols="30" rows="10" placeholder="Comentar..."
              [(ngModel)]="emp.comment" [ngModelOptions]="{standalone:
              true}"></textarea>
          </div>
        </div>
        <button class="comentt" type="submit" id="submit">Comentar</button>
      </div>
    </div>
  </div>
</form>