<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/registrar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--Incluir angularJS-->
    <script src="js/lib/angular.min.js"></script>
    <title>Registrar</title>
</head>

<body>
    <div class="padre">
        <header class="header">
            <div class="menu">
                <div class="logo">
                    <a href=""><img src="img/LogoTomato.png" alt="" id="logoTV"></a>
                </div>
                <div class="nav">
                    <a href="">Invertir</a>
                    <span>&vert;</span>
                    <a href="">StartUps</a>
                    <span>&vert;</span>
                    <a href="">Empresas</a>
                    <span>&vert;</span>
                    <a href="">Eventos</a>
                    <span>&vert;</span>
                    <a href="">Hackademy</a>
                    <span>&vert;</span>
                    <a href="">Bolsa de Trabajo</a>
                </div>
                <!--hamburguer-->
                <!--<div class="hamburguer-inner"></div>
-->
                <div class="hamburguesa"></div>
                <div class="icono">
                    <span>&vert;</span>
                </div>
                <div class="logIn">
                    <a href="">Log in</a>
                </div>
                <div class="signUp">
                    <div><button>Sign Up</button></div>
                </div>
            </div>
        </header>
        <div class="contenedor">
            <div class="seccion1">
                <img src="img/fotoGeneral.jpg" alt="">
            </div>
            <div class="seccion2">
                <div class="tituloPrincipal">
                    <h1> ¡Únete a Tomato Valley!</h1>
                </div>
                <div class="nombreCompletoUsuario">
                    <input type="text" placeholder="   Nombre" id="nombre" ng-model="nombreUsuario">
                    <input type="text" placeholder="   Apellido" id="apellido" ng-model="apellidoUsuario">
                </div>
                <div class="Usuario">
                    <input type="text" placeholder="   Usuario" id="usuario" ng-model="usuario">
                </div>
                <div class="correoElectronicoUsuario">
                    <input type="email" placeholder="   Correo electronico" id="correoElectronico" ng-model="correoEUsuario">
                    <input type="password" placeholder="   Contraseña" id="contrasena" ng-model="contrasenaUsuario">
                </div>
                <div class="lbl-fechaNacUsuario">
                    <h6>Fecha de nacimiento</h6>
                </div>
                <div class="fechaNacUsuario">
                    <input type="text" placeholder="  Dia" id="diaNacUsuario" ng-model="diaNUsuario">
                    <input type="text" placeholder="  Mes" id="mesNacUsuario" ng-model="mesNUsuario">
                    <input type="text" placeholder="  Aoo" id="aooNacUsuario" ng-model="aooNUsuario">
                </div>
                <div class="sexoUsuario">
                    <form action="">
                        <input type="radio" ng-model="sexoUsuario">Hombre
                        <input type="radio" ng-model="sexoUsuario">Mujer
                    </form>
                </div>
                <div class="condicionesUsuario">
                    <p>Al hacer clic en "Registrarte", aceptas nuestras Condiciones, la Política de datos y la Política de cookies. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.</p>
                </div>
                <div class="btn-Registrar">
                    <button>Registrarse</button>
                </div>
                <div class="iconos">
                    <span>________________________________</span>
                    <span>   </span>
                    <span>&deg;</span>
                    <span>   </span>
                    <span>________________________________</span>
                </div>
                <div class="btns-apps">
                    <button id="btn-facebook"><i class="fab fa-facebook"></i>   Facebook</button>
                    <button id="btn-google"><i class="fab fa-google"></i>       Google</button>
                    <button id="btn-twitter"><i class="fab fa-twitter"></i>  Twitter</button>
                </div>
            </div>
        </div>

        <footer class="footer">
            <nav class="pie">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fas fa-globe-americas"></i>
            </nav>
        </footer>
    </div>
</body>

</html>