
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
crossorigin="anonymous">
<!--

<!--
<div class="continer">
  <div class="row" >
    <div class="col s6">
        <div class="col s4">

<img  src="https://2.bp.blogspot.com/-cF7Cm2K0Ep8/XGHxeqhgXhI/AAAAAAAAADg/44AYL2hWLBst_4mY2beHtI7hce6JjjOaACLcBGAs/s320/IBM.jpg" />

        </div>
    </div>
   </div>
</div>


    <div class="perfil">
        <img class="perfilImage" src="https://3.bp.blogspot.com/-UzKCdjJQUF0/XGH57HTij_I/AAAAAAAAADs/8IsUnF4IPy46s98ciHlgqYpfz_XhauSGgCLcBGAs/s320/UserProfileGray.fw.jpg" />
         <h6 class="h"><strong>Name Surname</strong></h6>
         <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>
         </div>
    </div>
<div class="section">
<img src="https://2.bp.blogspot.com/-cF7Cm2K0Ep8/XGHxeqhgXhI/AAAAAAAAADg/44AYL2hWLBst_4mY2beHtI7hce6JjjOaACLcBGAs/s320/IBM.jpg" />
</div>
<div class="notificaciones">
    <h3 class="h"> <strong>Notificaciones</strong> </h3>
    <div class="descripccion">
        <p>Hola user, te invito a mi <br> emprendimiento llamado fireKoalas</p>
        <div class="X">
            
                <h6 class="h"><Strong>Mas notificaciones</Strong></h6>
                <a href="#"> <i class="fas fa-plus"></i></a>
        </div>
    </div>
</div>

<div class="col s6" id="contenedor">
        <div class="col-s13">
            <button class="crearEvento"><b>Creación de Evento</b></button>
        </div>
        <div class="col-s13">
            <h6 id="lbl-evento"><b>EVENTO</b> </h6>
        </div>
        <div class="col-s13">
            <input type="text" placeholder="Required Field" id="nombreEvento">
        </div>
        <div class="col-s13">
            <h6 id="lbl-evento"><b>LUGAR</b></h6>
        </div>
        <div class="col-s13">
            <input type="text" id="lugarEvento" placeholder="Required Field" id="nombreEvento">
        </div>
        <div class="col-s13">
            <h6 class="lbl-eventos" id="lbl-eventos"><b>COMIENZA</b></h6>
            <h6 class="lbl-eventos" id="lbl-eventos"><b>FINALIZA</b></h6>
        </div>
        <div class="col-s13">
            <input type="date" id="fechaEvento">
            <input type="time" id="fechaEvento" >
            <input type="date" id="fechaEvento">
            <input type="time" id="fechaEvento" >
        </div>
        <div class="col-s13">
            <h6 id="lbl-evento"><b>DESCRIPCIÓN</b></h6>
        </div>
        <div class="col-s13">
            <textarea name="" class="lbl-evento" id="descripcionEvento" cols="10" rows="5" placeholder="      Required Field"></textarea>
        </div>
        <div class="col s12">
          <a routerLink="/"></a><button id="btn-siguiente"><i class="material-icons">arrow_forward</i></button>
        </div>
        <div class="col s3">
            <h6></h6>
        </div>
        <div>
            <h3 id="punto1"></h3>
            <h6 id="linea1">___________</h6>
            <h3 id="punto2">.</h3>
            <h6 id="linea2">___________</h6>
            <h3 id="punto3">.</h3>
        </div>
        <div class="col s3"></div>
        <div class="col s3"></div>
        <div class="col s4">
            <h6 id="infoBasica"><b>INFORMACION BASICA</b></h6>
            <h6 id="agregaEstilo"><b>AGREGA ESTILO</b></h6>
            <h6 id="hazloPublico"><b>HAZLO PUBLICO</b></h6>
        </div>
    </div>

-->

<section class="section">
    <div class="perfil">
            <img class="perfilImage" src="https://3.bp.blogspot.com/-UzKCdjJQUF0/XGH57HTij_I/AAAAAAAAADs/8IsUnF4IPy46s98ciHlgqYpfz_XhauSGgCLcBGAs/s320/UserProfileGray.fw.jpg" />
            <p class="name"><strong>Name Surname</strong></p>
    </div>
    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <strong class="incididunt">#incididunt</strong>  ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <img  src="https://2.bp.blogspot.com/-cF7Cm2K0Ep8/XGHxeqhgXhI/AAAAAAAAADg/44AYL2hWLBst_4mY2beHtI7hce6JjjOaACLcBGAs/s320/IBM.jpg" />
    <div class="Notification">
        <h3 class="notification"> <strong>Notificaciones</strong> </h3>
        <div class="message">
                Hola user, te invito a mi <br> emprendimiento llamado fireKoalas.
        </div>
            <div class="masNotification">
                 <h3 class="notification">mas notificaciones <a href=""> <i class="fas fa-plus"></i></a></h3>     
            </div>
    </div>
</section>
<aside class="aside">
<form action="">
    <div class="div-btn-1">
        <button class="newEvent"> <strong>Creacion del Evento</strong> </button>
    </div>
    <div class="nameEvent div-btn-2">
        Evento    
    </div>
    <div class="Requ div-btn-2">
          <input class="Required" type="text" placeholder="Required Field">  
    </div>
    <div class="nameEvent div-btn-2">
            LUGAR    
        </div>
        <div class="Requ div-btn-2">
              <input class="Required" type="text" placeholder="Required Field">  
        </div>
        <div class="nameEventime div-btn-2" > 
            
            <button class="time div-btn-2">COMIENZA</button>
            <button class="time div-btn-2">FINALIZA</button>
        </div>
            
            <div class="Requ div-btn-2">
                  <input class="Require" type="date" >
                  <input class="Require" type="time" >  
           
                    <input class="Require" type="date">
                    <input class="Require" type="time">
            </div>
            <div class="nameEvent div-btn-2" style="width:30%;">
                DESCRIPCIÓN
            </div>
            <div >
                <textarea class="div-btn-2" name="" id="" cols="55" rows="10" placeholder="Required field"></textarea>
            </div>
            <div>
                <button class="next div-btn-1 " ><i class="fas fa-arrow-right"></i></button>
                <br>
            </div>

            <div>
                <input class="range div-btn-2" type="range">
                <br>
                
                <p class="rang">INFORMACION BASICA</p>
                <p class="rang"> AGREGA ESTILO</p>
                <p class="rang">HAZLO PUBLICO</p>
            </div>
</form>
</aside>