
.section{
    float: left;
    width: 30%;
    height: 980px;
    background: #ffffff;
    margin-top: 30px;
}
.perfilImage{
    width: 7%;
    height: 7%;
    border-radius: 40px;

}
.name{
    display: inline;
    color: #2699FB;
}
.text{
    width: 75%;
    color: #cccccc;
}
.incididunt .fas{
    color: #000000;
}
.notification{
    color: #38A1F3;
}
.masNotification{
    margin-left: 10%;
    display: inline;
}
.message{
    width: 70%;
    color: #000000;
    font-size: 20px;
}
.aside{
    float: right;
    width: 70%;
    background: #ffffff;
    border: 2px solid #cccccc;
    margin-top: 30px;
}
.div-btn-1{
    margin-left: 20%;
}
.div-btn-2{
    margin-left: 10%;
}
.newEvent{
    width: 70%;
    height: 50px;
    border-radius: 40px;
    background: #ffffff;
    border: 2px solid #2699FB;
    color: #000000;
    font-size: 25px;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 20px;
}
.nameEvent{
    width: 20%;
    height: 50px;
    text-align: center;
    background-color: #2699FB;
    color: #ffffff;
    font-size:30px;
    margin-bottom: 20px;
    
}
.Required{
    width: 70%;
    height: 50px;
}
::placeholder{
    color: #cccccc;
    font-size: 25px;
    margin-bottom: 20px;
}
.Require{
    width: 15%;
    height: 50px;
    font-size: 15px;
    margin-bottom: 5%;
}

.time{
    width: 25%;
    height: 50px;
    text-align: center;
    background-color: #2699FB;
    color: #ffffff;
    font-size:30px;
    margin-bottom: 0;
    border: 0;
    margin: 30px 120px 0px 0px;
}
.next{
    width: 30%;
    height: 50px;
    border-radius: 40px;
    background-color: #45DE54;
    margin-left: 30%;
    margin-bottom: 5%;
}
.fas{
    color: #ffffff;
}


  .range{
      width: 70%;
  }
  .range::-ms-track {
    background-color: #777;
    height: 3px;
  }
  .rang{
      display: inline;
      margin: 0px 20px 0px 0px;
      margin-left: 7%;
  }
  body{
      background: #ffffff;
  }
  @media screen and (max-width:1200px){
      .aside{
          width: 100%;
      }
      .time{
          width: 30%;
          margin: 10px 10px 0px 0px;

      }
      .nameEvent{
          width: 40%;
      }
      .section{
          width: 100%;
      }
      .perfil{
        margin-left: 10%;
      }
      .text{
          margin-left: 20%;
          width: 70%;
      }
      .IBm{
          margin-left: 30%;
      }
      .Notification{
          margin-left: 20%;
      }
  }