
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <section class="section">
      <div class="perfil">
              <img class="perfilImage" src="https://3.bp.blogspot.com/-UzKCdjJQUF0/XGH57HTij_I/AAAAAAAAADs/8IsUnF4IPy46s98ciHlgqYpfz_XhauSGgCLcBGAs/s320/UserProfileGray.fw.jpg" />
              <p class="name"><strong>Name Surname</strong></p>
      </div>
      <div class="text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <strong class="incididunt">#incididunt</strong>  ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <img class="IBM" src="https://2.bp.blogspot.com/-cF7Cm2K0Ep8/XGHxeqhgXhI/AAAAAAAAADg/44AYL2hWLBst_4mY2beHtI7hce6JjjOaACLcBGAs/s320/IBM.jpg" />
      <div class="Notification">
          <h3 class="notification"> <strong>Notificaciones</strong> </h3>
          <div class="message">
                  Hola user, te invito a mi <br> emprendimiento llamado fireKoalas.
          </div>
              <div class="masNotification">
                   <h3 class="notification">mas notificaciones </h3>  <a href="">
                      <i class="fas fa-plus"></i></a>   
              </div>
      </div>
  </section>

  <section class="section2">
    <form action="">
       <img src="https://2.bp.blogspot.com/-4jk3yWi7XjE/XGNVVJ68zAI/AAAAAAAAAEQ/ph21vTjNX7MtmcWL5FiSxzfO7aq1PJW5gCLcBGAs/s320/UserCellphone.jpeg"/>
      <h2><strong>Excepteur sint.</strong></h2>
      <p class="textt">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
      <button class="button">Asistir</button>
      <i class="fas fa-minus-square"></i>
      <h4>120</h4>
      <a class="share" href="#">Share</a>
    </form>
    </section>

  <section class="section3">
     <h2 class="h">Big Title</h2>
      <p class="h">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
      <button class="button">Asistir</button>
      <h4>120</h4>
      <a class="share" href="#">Share</a>
    </section>
<!--
  <section class="section4">
        <div class="Event1">
        <img class="EvTs" src="https://2.bp.blogspot.com/-YxARdTZabzA/XGNhihl6-LI/AAAAAAAAAEc/-34KXp1QdJAmnFIQ_A1ci7MvZV07pGhFgCLcBGAs/s320/officina.jpeg" />
        <h2>Excepteur sint.</h2>
        <p class="texto">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
        <button class="button">Asistir</button>
        <h4>120</h4>
      <a class="share" href="#">Share</a>
     
          <img class="EvTs" src="https://2.bp.blogspot.com/-YxARdTZabzA/XGNhihl6-LI/AAAAAAAAAEc/-34KXp1QdJAmnFIQ_A1ci7MvZV07pGhFgCLcBGAs/s320/officina.jpeg" />
          <h2>Excepteur sint.</h2>
          <p class="texto">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
          <button class="button">Asistir</button>
          <h4>120</h4>
        <a class="share" href="#">Share</a>
        
            <img class="EvTs" src="https://2.bp.blogspot.com/-YxARdTZabzA/XGNhihl6-LI/AAAAAAAAAEc/-34KXp1QdJAmnFIQ_A1ci7MvZV07pGhFgCLcBGAs/s320/officina.jpeg" />
            <h2>Excepteur sint.</h2>
            <p class="texto">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
            <button class="button">Asistir</button>
            <h4>120</h4>
          <a class="share" href="#">Share</a>
          </div>
      </section>


-->
<section class="section4">
  <div class="Eventoss">
      <img class="EvTs" src="https://2.bp.blogspot.com/-YxARdTZabzA/XGNhihl6-LI/AAAAAAAAAEc/-34KXp1QdJAmnFIQ_A1ci7MvZV07pGhFgCLcBGAs/s320/officina.jpeg" />
      <h2>Excepteur sint.</h2>
  </div>
  <div class="Eventoss">
      <img class="EvTs" src="https://2.bp.blogspot.com/-YxARdTZabzA/XGNhihl6-LI/AAAAAAAAAEc/-34KXp1QdJAmnFIQ_A1ci7MvZV07pGhFgCLcBGAs/s320/officina.jpeg" />
      <h2>Excepteur sint.</h2>
  </div>
  <div class="Eventoss">
      <img class="EvTs" src="https://2.bp.blogspot.com/-YxARdTZabzA/XGNhihl6-LI/AAAAAAAAAEc/-34KXp1QdJAmnFIQ_A1ci7MvZV07pGhFgCLcBGAs/s320/officina.jpeg" />
      <h2>Excepteur sint.</h2>
  </div>
</section>
    
    



