.name{
    font-size: 20px;
    
}
.perfilImage{
    width: 10%;
    height: 10%;
    border-radius: 40px;
}
.name{
    display: inline;
    color: #2699FB;
}
.text {
    width: 100%;
    font-size: 12px;
    color: #cccccc;
    line-height: 20px;
}
.ibm{
    width: 100%;
}
.notification{
    color: #38A1F3;
    font-size: 30px;
}
.masNotification{
    margin-left: 10%;
    font-size: 12px;
}
/* seccion para jobs*/

.imagenFondo{
    background-image: url("https://1.bp.blogspot.com/-vwgdei8fJEQ/XGUH23kY74I/AAAAAAAAAFU/SdZqmxQA_pIdfxZdrdVo2MrA3BWQEeqBQCLcBGAs/s320/CONFERENCS.jpeg");
    overflow: hidden;
    height: 66vh;
    opacity: .6;
}
.botonesBonitos{
    width: 100%;
    margin-top: 40%;
    float: right;
}
.photo img{
    width: 100%;

}
.trabajos{
    float: right;
}
.description p{
    width: 100%;
    font-size: 20px;
    line-height: 40px;
}
.asistir{
    color: #000000;
    width: 25%;
    height: 30px;
    background: #ffffff;
    border-radius: 40px;
    border: 2px solid #000000; 
}
.shares{
    color: #ffffff;
    font-size: 20px;
    background: none;
    border: 0;
    color: #000000;
    float: right;
    margin-right: 20px;
    
}
.share{
    color: #ffffff;
    font-size: 20px;
    background: none;
    border: 0;
    color: #ffffff;
}
.asistirs{
    color: #ffffff;
    width: 40%;
    height: 30px;
    background: none;
    border-radius: 40px;
    border: 2px solid #ffffff; 
    font-size: 20px;
}
.number{
    font-size: 30px;
    color: #ffffff;
}
.Evento1 {
    margin-bottom: 5%;
}
.titles {
    color: #ffffff;
}
/********************************************************************/
.jobs{
    width: 100%;
    border-radius: 15px;
    background: #ffffff;
    color: #000000;
}
.tittle{
    font-weight: 800;
    color: #2699FB;
}
.titless {
    margin-bottom: 15%;
}
.col-sm-6 .EventSEC1{
display: inline;
}