/* You can add global styles to this file, and also import other style files */

body{
    background: #000000;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
text{
    color: #ffffff;
}
.textbox{
    background: #686767;
    color: #ffffff;
}
input::placeholder{
    color: #ffffff;
}
.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

.btn-color-green{
    background: #45DE54;
}

.text-color{
    color: #ffffff;
}
.text-size{
    font-size: 10px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #ffffff;
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: #ffffff;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}
.btn-fb-color{
    background: #4267B2;
}
.btn-g-color{
    background: #F92525;
}
.btn-twt-color{
    background: #38A1F3;
}

